<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "@id": "https://alinaecosin.ru/zhkt/",
  "url": "https://alinaecosin.ru/zhkt/",
  "name": "Питание и ЖКТ",
  "inLanguage": "ru-RU",
  "hasPart": [
    {
      "@type": "WebPage",
      "url": "https://alinaecosin.ru/zhkt/vzdutie-posle-edy.html",
      "name": "Вздутие после еды: питание, привычки и дневник наблюдений"
    },
    {
      "@type": "WebPage",
      "url": "https://alinaecosin.ru/zhkt/pitanie-pri-zapore.html",
      "name": "Питание при запоре у взрослых: клетчатка, вода и примеры блюд"
    }
  ]
}
</script>
